

 *h1 { color:red } 
* { border: dotted dashed solid double;

  } 
  h2  { 
    color:cadetblue
  
  }


  .header{
    display: flex;
    justify-content:space-between;
    background-color: rgb(102, 255, 0);
    font-size: x-large;
    font-family: sans-serif;
    font-weight: 400;
    color:cornsilk;
   
  }
  .not-allowed{
    pointer-events: all;
    cursor: not-allowed;
  }
  .caption{
    display: flex;
    justify-content: space-evenly;
    border: 10px solid black;
    border-bottom: dotted;
    border-top: dotted;
  } 
  .backPics{
    display: flex;
    justify-content: space-evenly;
    border: 20px solid black;
    border-radius: 1000000px;
  }
  body {
    background-image: url("pinkish-violet.gif");
     display:flex;
     flex-wrap: wrap;
     flex-flow: wrap;
     font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight : 400;
    display: flex;
      justify-content: space-between;
   
    padding: 15px;
  
    }

  .grid img {
      border: 2px solid black;
      border-radius: 50px;
      width: 280px;
      font: bold;
      margin: 20px;
    }
    .menu{
      display: flex;
      justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff; 
    }
    .origami{
      border-radius: 20px;
      background-color: white;
     padding: 30px;
     margin: 25px;
      width: 310px;
      font-family: fantasy;
    }
    
  

    